@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@use '@carbon/layout';
@import '~@openmrs/esm-styleguide/src/vars';

.description {
  margin-bottom: spacing.$spacing-04;
  @include type.type-style('body-compact-01');
}

.tutorialModal {
  display: flex;
  flex-direction: column;
  gap: spacing.$spacing-04;

  .tutorialItem {
    border-bottom: 1px solid $ui-03;
    padding-bottom: spacing.$spacing-02;

    .tutorialTitle {
      margin-bottom: spacing.$spacing-04;
      @include type.type-style('heading-02');
    }

    .tutorialDescription {
      color: $color-gray-70;
      @include type.type-style('body-compact-01');
    }

    .tutorialLink {
      margin-bottom: spacing.$spacing-04;
      margin-top: spacing.$spacing-04;
      cursor: pointer;
    }
  }
}

.modalHeader {
  :global {
    .cds--modal-close-button {
      position: absolute;
      inset-block-start: 0;
      inset-inline-end: 0;
      margin: 0;
      margin-top: calc(-1 * #{layout.$spacing-05});
    }

    .cds--modal-close {
      background-color: rgba(0, 0, 0, 0);

      &:hover {
        background-color: var(--cds-layer-hover);
      }
    }

    .cds--popover--left > .cds--popover > .cds--popover-content {
      transform: translate(-4rem, 0.85rem);
    }

    .cds--popover--left > .cds--popover > .cds--popover-caret {
      transform: translate(-3.75rem, 1.25rem);
    }
  }
}
