@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.tooltipcontainer {
  background-color: $ui-02;
  padding: spacing.$spacing-05;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 360px;
  border-radius: spacing.$spacing-02;
  gap: spacing.$spacing-04;

  .tooltipheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: spacing.$spacing-01;

  .container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .tooltiptitle {
    @include type.type-style('heading-02');
    margin-bottom: spacing.$spacing-02;
  }

  .closeButton {
    min-height: 16px;
    padding: 0;
    align-self: flex-start;
  }
}

.tooltipcontent {
    color: $color-gray-70;
    @include type.type-style('body-compact-01');
    width: 100%;
    margin-top: spacing.$spacing-01;
}


  .tooltipfooter {
    margin-top: spacing.$spacing-03;
    display: flex;
    justify-content: space-between;
    align-items: center;

  .tooltipstep {
    color: $color-gray-70;
    @include type.type-style('body-compact-01');
  }

  .buttonContainer {
    display: flex;
    gap: spacing.$spacing-03;

  .buttonback,
  .buttonnext {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: spacing.$spacing-02;
    width: spacing.$spacing-12;

    .arrowLeft,
    .arrowContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: spacing.$spacing-02;
    }

    .arrowLeft svg {
      fill: $color-blue-60-2 !important;
      margin-right: spacing.$spacing-02;
    }
  }
}
}
}
