@use '@carbon/layout';
@use '@carbon/styles/scss/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.tooltipcontainer {
  background-color: $ui-02;
  padding: layout.$spacing-05;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 360px;
  border-radius: layout.$spacing-02;
  gap: layout.$spacing-04;
  background-color: $ui-02;

  .tooltipheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: layout.$spacing-01;
    .tooltiptitle {
      @include type.type-style('heading-02');
    }
    .tooltipstep {
      color: $color-gray-70;
      @include type.type-style('body-compact-01');
    }
  }

  .tooltipcontent {
    color: $color-gray-70;
    @include type.type-style('body-compact-01');
  }

  .tooltipfooter {
    margin-top: layout.$spacing-06;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .buttonback {
      color: $color-blue-60-2;
      display: flex;
      align-items: center;
    }
    .buttonnext {
      margin-left: auto;
      width:layout.$spacing-12; 
      .arrowContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: layout.$spacing-05;
      }
    }
  }
}
